/* #Carousel */
.swiper-pagination-bullet {
	background-color: $regular_accent_color_1;
}
.swiper-button-next,
.swiper-button-prev {
	color: $regular_accent_color_3;
	background-color: $regular_accent_color_1;
}
.swiper-button-next:not(.swiper-button-disabled):hover, .swiper-button-prev:not(.swiper-button-disabled):hover {
	color: $regular_accent_color_3;
	background-color: $regular_accent_color_2;
}