$color__background-screen: #181a1f;
$color__background-hr: #31343b;
$color__background-input: #ffffff;
$color__background-pre: #eee;

$color__text-screen: #21759b;
$color__text-input: #818181;

$color__border-button: #fd3c3d;
$color__border-input: #ffffff;
$color__border-input_invert: #eeeeee;
$color__border-abbr: #666;
$color__border-table: $color__background-hr;
$color__border-pre: darken( $color__background-pre, 10% );

$color__not-valid: #fe5c7a;
$color__valid: #398f14;
$color__footer_conteiner: #9499a4;
$a_hover: #292c2e;
$member_social_links: #c1c1c1;
$post_meta: #8f8f8f;
$post__meta_author: #59c329;
$post__meta_author2: #ff9a07;
$input_subscribe_bg: #acacac;
$link_box_1: #f5ce15;
$link_box_2: #e6161b;
$link_box_3: #ff9a07;
$link_box_4: #59c329;
$mptt_shortcode: #777777;
$social_link: #2e2e2e;
$infowindow: #1f1f1f;
$color_footer: #6c6c6c;
$contact_red: #fd3c3d;
$contact_white: #f8d5d5;
$contact_success: #4ccb00;
$team_member_img_before: #f5a503;