#tm_builder_outer_content {
	.tm_pb_counters {
		>div {
			margin-bottom: 1em;
		}
	}
	.tm_pb_counter_title {
		margin-bottom: 2px;
	}
	.tm_pb_counter_container {
		.tm_pb_counter_amount {
			    padding: 1px 5px 1px 1px;
		}
	}
}